/* body {
    margin: 1em;
    background-color: #fff;
    color: #000;
}

.headerStyle {
    color: '#fff';
    font-size: '30px';
}

#container {
    padding: 1em;
    border: solid 2px #aaa;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.btnDash {
    width: 90%;
} */

body {
    margin: 1em;
}

.tableFixHead {
    overflow-y: auto;
    height: 200px;
    border: solid 1px #000;
}

.tableFixHead thead th {
    font-weight: bold;
    background: fixed;
    position: sticky;
    top: 1px;
}

.tableBody {
    overflow-y: auto;
    height: 200px;
}

/* div {
    border: solid 1px #f00;
} */



table {
    width: 500px;
}

#container {
    padding: 1em;
    border: solid 2px #aaa;
    text-align: center;
    
}

#dataAndFilter {
    display: inline-block;
}

#buttons {
    display: inline-block;
    height: 200px;
    width: 100px;
}

button {
    display: block;
    width: 100%;
}

input[type='search'] {
    width: 500px;
}